<div style="background: red; flex-direction: row; justify-content: center; align-items: center">

  <h2>
    Página não encontrada!
  </h2>

  <h3>
    Obrigado pela sua visita, em breve o projeto Mozão 2019 estará no ar!
  </h3>

  <div>
    <%= image_tag "404.jpg", {height: 445} %>
    <%= image_tag "cat.png", {height: 200} %>
  </div>

</div>

