<div style="background: red; flex-direction: row; justify-content: center; align-items: center;">
  
    <br>
  
    <div style="font-family:    Comic Sans MS, cursive, sans-serif;
                font-size:      20px;
                font-weight:    bold;">
      Página Em Construção!
    </div>
  
    <br>
  
    <div style="font-family:    Comic Sans MS, cursive, sans-serif;
                font-size:      15px;
                font-weight:    bold;">
      Obrigado pela sua visita, em breve as incrições para o projeto Mozão 2019 estará no ar!
    </div>
  
    <br>
  
    <div>
      <%= image_tag "404.jpg", {height: 445} %>
      <%= image_tag "cat.png", {height: 200} %>
      <%= image_tag "construcao_dormir.gif" %>
      <%= image_tag "programando.gif" %>
    </div>
  
</div>

